.bomb{
  background-image: url('../images/bomb.png');
  background-repeat: no-repeat;
  position: absolute;
  width:23px;
  height: 23px;
  z-index:4;
  will-change: transform;
  animation: sprite_bomb 1s steps(4) 1;
}

@keyframes sprite_bomb {
from { background-position: 0px 0; }
to { background-position: -94px 0px; }
}
