$cell-width: 50px;
$cell-height: 50px;

.map {
    width: (17*$cell-width);
    height: (13*$cell-height);
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translateX(-50%) translateY(-50%);

    .cell {
        height: $cell-height;
        width: $cell-width;
        float: left;
    }

    .sand {
        background-image: url('../images/sand/sand.jpg');
    }
    
    .sand2 {
        background-image: url('../images/sand/sand2.jpg');
    }
    
    .sand3 {
        background-image: url('../images/sand/sand3.jpg');
    }
    
    .sand.explosion_left_right,
    .sand2.explosion_left_right,
    .sand3.explosion_left_right{
        background-image: url('../images/bomb/bomb_explosion_left_right.png'), url('../images/sand/sand.jpg');
    }

//    .player {
//        background-color: blue;
//    }

    .unbreakable.corner_top_left {
        background-image: url('../images/border/corner/corner_top_left.jpg');
    }
    
    .unbreakable.corner_top_right {
        background-image: url('../images/border/corner/corner_top_right.jpg');
    }
    
    .unbreakable.corner_bottom_left {
        background-image: url('../images/border/corner/corner_bottom_left.jpg');
    }
    
    .unbreakable.corner_bottom_right {
        background-image: url('../images/border/corner/corner_bottom_right.jpg');
    }
    
    .unbreakable.border_top {
        background-image: url('../images/border/top/border_top.jpg');
    }
    
    .unbreakable.border_top2 {
        background-image: url('../images/border/top/border_top2.jpg');
    }
    
    .unbreakable.border_bottom {
        background-image: url('../images/border/bottom/border_bottom.jpg');
    }
    
    .unbreakable.border_bottom2 {
        background-image: url('../images/border/bottom/border_bottom2.jpg');
    }
    
    .unbreakable.border_left {
        background-image: url('../images/border/left/border_left.jpg');
    }
    
    .unbreakable.border_left2 {
        background-image: url('../images/border/left/border_left2.jpg');
    }
    
    .unbreakable.border_right {
        background-image: url('../images/border/right/border_right.jpg');
    }
    
    .unbreakable.border_right2 {
        background-image: url('../images/border/right/border_right2.jpg');
    }
    
    .unbreakable.hole {
        background-image: url('../images/hole/hole.jpg');
    }
    
    .unbreakable {
        background-image: url('../images/border/left/border_left.jpg');
    }

    .breakable {
        background-image: url('../images/bonus/barrel.jpg');
    }
    
    .bonus.power-bomb {
        background-image: url('../images/bonus/power-bomb.jpg');
    }
    
    .bonus.add-bomb {
        background-image: url('../images/bonus/add-bomb.jpg');
    }
    
    .bonus.speed {
        background-image: url('../images/bonus/speed.jpg');
    }

    .dangerous {
        background-color: orange;
    }
    
    .bonus.dangerous {
        background-color: orange;
    }
}
