$bomberman-width: 50px;
$bomberman-height: 50px;

.avatar_down {
    position: absolute;
    width: $bomberman-width;
    height: $bomberman-height;
    will-change: transform;
    background-image: url('../images/player.png');
    animation: down 0.8s steps(4) infinite;
}

@keyframes down {
  from { background-position: 0px 0; }
  to { background-position: -221px 0px; }
}

.avatar_left {
    position: absolute;
    width: $bomberman-width;
    height: $bomberman-height;
    will-change: transform;
    background-image: url('../images/player.png');
    animation: left 0.8s steps(4) infinite;
}

@keyframes left {
  from { background-position: 0px -60px; }
  to { background-position: 221px -60px; }
}

.avatar_right {
    position: absolute;
    width: $bomberman-width;
    height: $bomberman-height;
    will-change: transform;
    background-image: url('../images/player.png');
    animation: right 0.8s steps(4) infinite;
}

@keyframes right {
  from { background-position: 0px -120px; }
  to { background-position: -221px -120px; }
}

.avatar_up {
    position: absolute;
    width: $bomberman-width;
    height: $bomberman-height;
    will-change: transform;
    background-image: url('../images/player.png');
    animation: up 0.8s steps(4) infinite;
    margin: 5px;
}

@keyframes up {
  from { background-position: 0px -180px; }
  to { background-position: -221px -180px; }
}
