body {
  background-color: #000;
  font-family: "Avenir Next";
  box-sizing: border-box; }

.map {
  width: 850px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .map .cell {
    height: 50px;
    width: 50px;
    float: left;
    border: 1px solid black; }
  .map .empty {
    background-color: blue; }
  .map .unbrokable {
    background-color: red; }
  .map .brokable {
    background-color: yellow; }
