body {
  background-color: #000;
  font-family: "Avenir Next";
  box-sizing: border-box; }

.map {
  width: 850px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .map .cell {
    height: 50px;
    width: 50px;
    float: left;
    border: 1px solid black; }
  .map .empty {
    background-color: blue; }
  .map .unbreakable {
    background-color: red; }
  .map .breakable {
    background-color: yellow; }
  .map .map .bonus_ {
    background-color: #00ff1d; }

.bomb {
  background-image: url("../images/bomb.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 23px;
  height: 23px;
  z-index: 4;
  will-change: transform;
  animation: sprite_bomb 1s steps(4) 1; }

@keyframes sprite_bomb {
  from {
    background-position: 0px 0; }
  to {
    background-position: -94px 0px; } }

.avatar_down {
  position: absolute;
  width: 30px;
  height: 30px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: down 0.8s steps(4) infinite; }

@keyframes down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -125px 0px; } }

.avatar_left {
  position: absolute;
  width: 30px;
  height: 30px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: left 0.8s steps(4) infinite; }

@keyframes left {
  from {
    background-position: 0px -35px; }
  to {
    background-position: 125px -35px; } }

.avatar_right {
  position: absolute;
  width: 30px;
  height: 30px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: right 0.8s steps(4) infinite; }

@keyframes right {
  from {
    background-position: 0px -70px; }
  to {
    background-position: -125px -70px; } }

.avatar_up {
  position: absolute;
  width: 30px;
  height: 30px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: up 0.8s steps(4) infinite;
  margin: 5px; }

@keyframes up {
  from {
    background-position: 0px -105px; }
  to {
    background-position: -125px -105px; } }
