body {
  background-image: url(../images/water/water.png);
  background-repeat: repeat;
  font-family: "Avenir Next";
  box-sizing: border-box; }

.map {
  width: 850px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }
  .map .cell {
    height: 50px;
    width: 50px;
    float: left; }
  .map .sand {
    background-image: url("../images/sand/sand.jpg"); }
  .map .sand2 {
    background-image: url("../images/sand/sand2.jpg"); }
  .map .sand3 {
    background-image: url("../images/sand/sand3.jpg"); }
  .map .sand.explosion_left_right {
    background-image: url("../images/bomb/bomb_explosion_left_right.png"), url("../images/sand/sand.jpg"); }
  .map .sand2.explosion_left_right {
    background-image: url("../images/bomb/bomb_explosion_left_right.png"), url("../images/sand/sand2.jpg"); }
  .map .sand3.explosion_left_right {
    background-image: url("../images/bomb/bomb_explosion_left_right.png"), url("../images/sand/sand3.jpg"); }
  .map .sand.explosion_center {
    background-image: url("../images/bomb/bomb_explosion_center.png"), url("../images/sand/sand.jpg"); }
  .map .sand2.explosion_center {
    background-image: url("../images/bomb/bomb_explosion_center.png"), url("../images/sand/sand2.jpg"); }
  .map .sand3.explosion_center {
    background-image: url("../images/bomb/bomb_explosion_center.png"), url("../images/sand/sand3.jpg"); }
  .map .sand.explosion_up_down {
    background-image: url("../images/bomb/bomb_explosion_up_down.png"), url("../images/sand/sand.jpg"); }
  .map .sand2.explosion_up_down {
    background-image: url("../images/bomb/bomb_explosion_up_down.png"), url("../images/sand/sand2.jpg"); }
  .map .sand3.explosion_up_down {
    background-image: url("../images/bomb/bomb_explosion_up_down.png"), url("../images/sand/sand3.jpg"); }
  .map .unbreakable.corner_top_left {
    background-image: url("../images/border/corner/corner_top_left.jpg"); }
  .map .unbreakable.corner_top_right {
    background-image: url("../images/border/corner/corner_top_right.jpg"); }
  .map .unbreakable.corner_bottom_left {
    background-image: url("../images/border/corner/corner_bottom_left.jpg"); }
  .map .unbreakable.corner_bottom_right {
    background-image: url("../images/border/corner/corner_bottom_right.jpg"); }
  .map .unbreakable.border_top {
    background-image: url("../images/border/top/border_top.jpg"); }
  .map .unbreakable.border_top2 {
    background-image: url("../images/border/top/border_top2.jpg"); }
  .map .unbreakable.border_bottom {
    background-image: url("../images/border/bottom/border_bottom.jpg"); }
  .map .unbreakable.border_bottom2 {
    background-image: url("../images/border/bottom/border_bottom2.jpg"); }
  .map .unbreakable.border_left {
    background-image: url("../images/border/left/border_left.jpg"); }
  .map .unbreakable.border_left2 {
    background-image: url("../images/border/left/border_left2.jpg"); }
  .map .unbreakable.border_right {
    background-image: url("../images/border/right/border_right.jpg"); }
  .map .unbreakable.border_right2 {
    background-image: url("../images/border/right/border_right2.jpg"); }
  .map .unbreakable.hole {
    background-image: url("../images/hole/hole.jpg"); }
  .map .unbreakable {
    background-image: url("../images/border/left/border_left.jpg"); }
  .map .breakable {
    background-image: url("../images/bonus/barrel.jpg"); }
  .map .bonus.power-bomb {
    background-image: url("../images/bonus/power-bomb.jpg"); }
  .map .bonus.add-bomb {
    background-image: url("../images/bonus/add-bomb.jpg"); }
  .map .bonus.speed {
    background-image: url("../images/bonus/speed.jpg"); }
  .map .dangerous {
    background-color: orange; }
  .map .bonus.dangerous {
    background-color: orange; }

.bomb {
  background-image: url("../images/bomb/bomb.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 4;
  will-change: transform;
  animation: sprite_bomb 2.5s steps(3) 1; }

@keyframes sprite_bomb {
  from {
    background-position: 0px 0; }
  to {
    background-position: -150px 0; } }

.avatar_down {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: down 0.8s steps(4) infinite; }

@keyframes down {
  from {
    background-position: 0px 0; }
  to {
    background-position: -221px 0px; } }

.avatar_left {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: left 0.8s steps(4) infinite; }

@keyframes left {
  from {
    background-position: 0px -57px; }
  to {
    background-position: 221px -57px; } }

.avatar_right {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: right 0.8s steps(4) infinite; }

@keyframes right {
  from {
    background-position: 0px -118px; }
  to {
    background-position: -221px -118px; } }

.avatar_up {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/player.png");
  animation: up 0.8s steps(4) infinite;
  margin: 5px; }

@keyframes up {
  from {
    background-position: 0px -170px; }
  to {
    background-position: -221px -170px; } }

.fighter_down {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/ai.png");
  animation: fighterDown 0.8s steps(4) infinite; }

@keyframes fighterDown {
  from {
    background-position: 0px 0; }
  to {
    background-position: -208px 0px; } }

.fighter_left {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/ai.png");
  animation: fighterLeft 0.8s steps(4) infinite; }

@keyframes fighterLeft {
  from {
    background-position: 0px -57px; }
  to {
    background-position: 208px -57px; } }

.fighter_right {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/ai.png");
  animation: fighterRight 0.8s steps(4) infinite; }

@keyframes fighterRight {
  from {
    background-position: 0px -118px; }
  to {
    background-position: -208px -118px; } }

.fighter_up {
  position: absolute;
  width: 50px;
  height: 50px;
  will-change: transform;
  background-image: url("../images/ai.png");
  animation: fighterUp 0.8s steps(4) infinite;
  margin: 5px; }

@keyframes fighterUp {
  from {
    background-position: 0px -170px; }
  to {
    background-position: -208px -170px; } }

div.infos-counter {
  position: absolute;
  top: 40%;
  right: 2%;
  display: inline-block;
  background-color: #F3E9C9;
  border-radius: 10px;
  width: 200px;
  height: 120px;
  z-index: 9; }
  div.infos-counter span {
    color: black;
    display: inline-block;
    padding: 15px 0px 5px 10px; }

div.game-over, div.winner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 850px;
  height: 600px;
  z-index: 100;
  background-color: black;
  transition: all .5s ease; }
  div.game-over img, div.winner img {
    width: 15%;
    height: auto;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px 0; }
  div.game-over p, div.winner p {
    color: white;
    padding: 230px 200px 40px;
    font-size: 20px;
    text-align: center;
    line-height: 30px; }
  div.game-over button, div.winner button {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50px;
    width: 270px;
    height: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    left: 50%;
    bottom: 5%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.4 ease;
    cursor: pointer; }
    div.game-over button:hover, div.winner button:hover {
      color: black;
      background-color: white; }
    div.game-over button :active div.game-over, div.winner button :active div.game-over {
      display: none; }

div.winner {
  background-color: #8A0E06; }
